{{> head }}


  {{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Titulo de prueba</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/imagen1.jpg" class="img-thumbnail" alt="">
    </div>
</div>


    {{> footer }}

    